<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/5663f6cdaa.js" crossorigin="anonymous"></script>
    {{ bootstrap.load_css() }}
    {% from 'bootstrap5/form.html' import render_form %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Text To Morse Converter</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center flex-column text-center">
        <div class="emoji"><i class="fa-solid fa-book-open fa-10x"></i></div>
        <h1 class="display-5 fw-bold text-body-emphasis">CODE <span class="logo-header">CIPHER</span></h1>
        <h2 class="display-8 fw-bold text-body-emphasis my-5">Text To Morse Converter</h2>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            The morse code translator makes it easy to convert standard text to morse code or vice versa. To use the translator, enter your text or morse code into the input box and see the code translation by clicking on the button!
        </p>
      <div class="input-form d-grid gap-2 d-sm-flex justify-content-sm-center">
          {{ render_form(form) }}
      </div>
    </div>
  </div>
{{ bootstrap.load_js() }}
</body>
</html>
